body {
    color: white;
}

.post-title-container {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.widget-content {
    margin-top : 20px;
    border-radius: 10px;
    overflow : hidden;
}

.sidebar {
    background-color: #d28c8c;
    margin : 20px;
    border-radius : 10px
}

#Profile1 {
    margin : 0px
}